.about-content {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  gap: 2rem; 
  
  height: auto; 
  align-items: center;
}

.table {
  width: 100%;
  max-width: 600px; 
  margin: 0;
  border-collapse: collapse;
}

.table-container {
  display: flex; 
  justify-content: center; 
  width: 100%; 
}

.about-content.light {
  background-color: #f0f0f0;
}

.about-content.dark {
  background-color: #222;
}



td {
  padding: 10px; 
  text-align: left; 
}



.td {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700px;
}
.td1{
  color: #a1a1a1;
}
@media (max-width: 768px){
 
  .h1 {
    position: relative;
    margin-left: 100px; 
}
}

@media (min-width: 768px) {

  .about-content {
    flex-direction: row;
    gap: 3rem; 
    height: 30rem; 
    align-items: flex-start; 
  }

  .table {
    margin: 0; 
  }

  td {
    padding: 15px;
    
  }
  .tab{
    margin-left: 100px;
  }
  .h1 {
    position: relative;
    margin-left: 100px; 
}
}

@media (min-width: 1024px) {
  .about-content {
    gap: 5rem; 
  }

  .td {
    font-size: 20px; 
  }
}