.project-img{
   
    
    width: 400px;              /* Default size */
    height: 300px;             /* Default size */
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition */}
.img-container{
   
    height: 500px;
       
    box-shadow:  5px 10px 20px 0 rgba(0, 255, 242, 0.8);
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    
}

.h3{
    font-style: italic;
    font-weight: 700;
    color: black;
}
.projeect-p.light{
    color: black;
}
@media (max-width: 768px){
    .project-img{
   
    
        width: 250px; }  
    .img-container{
        width: 250px;
    }
    .project-container{
        
        display: grid;
    }
}
@media (min-width: 1440px){
    .project-img{
   
    
        width: 400px;}
    .img-container{
        width: 400px;
        margin: 20px;
    }
    .project-container{
        display: flex;
    }
   }
