/* Light and Dark Theme Variables */
:root {
  --text-color: #000000;
  --bar-background-color: #e0e0e0;
  --bar-fill-color: linear-gradient(90deg, #007acc, #00c6ff);
}

.dark {
  --text-color: #f5f5f5;
  --bar-background-color: #3a3a3a;
  --bar-fill-color: linear-gradient(90deg, #00ffff, #00ffff);
}

@media (max-width: 768px) {
  .skills-container{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .skill-header::before {
    content: "🔥"; /* Unicode character or text */
    margin-right: 8px;
  }
  
  .skill-header{
    text-align: center;

    
  }
  .skill{
    margin-left: 50px;
  }
  .skills-container{
    display:flex;
    flex-direction: column;

  }
  .skill-bar{
    width: 500px;
    
    
  }
  .bar-container{
display: flex;
justify-content: center;
  }
}

/* Skills Container */
.skills-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 50px;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between the columns */
}

/* Skill Item */
.skill-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-color);
  text-align: left;
}

/* Horizontal Skill Bar Container */
.skill-bar {
  background-color: var(--bar-background-color);
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  position: relative;
  margin-bottom: 20px;
}

/* Animated Skill Progress Bar */
.skill-progress {
  height: 100%;
  background: var(--bar-fill-color);
  width: 0%; /* Start at 0% for animation */
  transition: width 1.5s ease-in-out;
}

/* Skill Level Text */
.skill-level {
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: right;
}

h3 {
  text-align: center;
}

